In [1]:
import pandas as pd
import numpy as np
import random
import itertools

In [2]:
df_movie = pd.read_csv('movie.csv',encoding='utf-8')
df_movie.head(2)

,Unnamed: 0,number,rate,title,url,id,directors,year,actors,type,countries,summary
0,0,1,7.4,需要你！小美兮,https://movie.douban.com/subject/26977230/,26977230,金九晋,2017.0,"吉媤恩,徐智勋","剧情,喜剧,爱情",韩国,相貌平平的21岁女孩敬丹，从十年前就对自己的好朋友，帅帅的联宇一见钟情。由于对自己的外表不自...
1,1,2,6.4,雪崩行动,https://movie.douban.com/subject/25939432/,25939432,马特·约翰逊,2016.0,"马特·约翰逊,欧文·威廉姆斯,乔希·博尔斯,贾里德·拉伯","喜剧,惊悚",美国,"1967 年,四位 CIA 探員以拍攝紀錄片的名義,欲揭穿 NASA 阿波羅計畫,卻意外將自..."

In [3]:
# movie index
movie2index = np.array(range(len(df_movie)))
movies = np.array(range(len(df_movie)))

In [4]:
b=df_movie['actors'].apply(str)
c=[i.split(',') for i in b]

In [5]:
actor_set = set([])
for i in c:
    for a in i:
        actor_set.add(a)

In [6]:
len(actor_set)

3143

### 有3143个演员

In [7]:
directors2 = list(df_movie["directors"].values)

In [8]:
# director index
offset = len(df_movie)
directors = list(df_movie["directors"].values)
directors = [d.strip().split("/") for d in directors]

### 有870个导演

In [9]:
direct_set = set([])
for i in directors:
    for d in i:
        direct_set.add(d)

In [10]:
director2index = {}
for i, d in enumerate(direct_set):
    director2index[d] = i + offset

In [11]:
# actor index
offset = len(df_movie) + len(direct_set)

In [12]:
actor2index = {}
for i, a in enumerate(actor_set):
    actor2index[a] = i + offset

In [13]:
FILENAME = "./douban.edgelist"
with open(FILENAME, "w") as f:
    for movieId, directorIds, actorIds in zip(movies, directors, c):
        m_idx = [str(movieId)]
        d_idx = [str(director2index[i]) for i in directorIds]
        a_idx = [str(actor2index[i]) for i in actorIds]
        for a, b in itertools.product(m_idx, d_idx):
            print("%s %s" % (a,b), file=f)

        for a, b in itertools.product(m_idx, a_idx):
            print("%s %s" % (a,b), file=f)

        for a, b in itertools.product(a_idx, d_idx):
            print("%s %s" % (a,b), file=f)

# 5013个node